[user]
	name = Takashi Takebayashi
	email = changesworlds@gmail.com
[push]
	default = current
[alias]
	br = branch
	ci = commit
	cia = commit -a
	co = checkout
	fe = fetch
	me = merge
	st = status
[fetch]
	prune = true
