[user]
	name = Takashi Takebayashi
	email = changesworlds@gmail.com
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	b     = branch -vv
	ba    = branch -a
	bd    = branch -d
	bdf   = branch -D
	ci    = commit -m
	cia   = commit -a -m
	co    = checkout
	cob   = checkout -b
	d     = diff
	del   = !git branch --merged master | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
	e     = !"f() { git co master; git pull origin master; git del; }; f"
	f     = fetch
	l     = log --pretty=fuller
	lp    = log -p
	me    = merge
	pu    = push
	puf   = push -f
	pl    = pull
	r     = reset
	rh    = reset HEAD
	st    = status
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[push]
	default = current
