[user]
	name = Takashi Takebayashi
	email = changesworlds@gmail.com
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	br    = branch -vv
	bra   = branch -a
	brd   = branch -d
	brdf  = branch -D
	ci    = commit -m
	cia   = commit -a -m
	co    = checkout
	cob   = checkout -b
	del   = !git branch --merged master | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
	d     = diff
	f     = fetch
	l     = log --pretty=fuller
	lp    = log -p
	me    = merge
	p     = push
	pf    = push -f
	re    = reset
	reh   = reset HEAD
	st    = status
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[push]
	default = current
